@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    color: #fff;
    scrollbar-width: auto;
    scrollbar-color: #000000 #ffffff;
    font-family: 'Montserrat', sans-serif;
}

*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: #ffffff;
}

*::-webkit-scrollbar-thumb {
    background-color: #000000;
    border-radius: 10px;
    border: 0px solid #000000;
}

.container__block {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #000;
    position: relative;
}

.navbar__block {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid rgba(153, 153, 153, 0.2);
    box-shadow: 3px 0 5px rgba(255, 255, 255, 0.062);
    padding: 10px 100px;
    position: sticky;
    top: 0;
    z-index: 100;
    .logo {
        display: flex;
        align-items: center;
        img {
            width: 70px;
            height: 50px;
        }
        h1 {
            font-size: 22px;
            margin-top: 5px;
            color: #fff;
            .buy {
                color: #f00;
            }
            .sell {
                color: #0f0;
            }
        }
    }
    .menu_list {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .menu_list-item {
            display: flex;
            align-items: center;
            margin-left: 25px;
            margin-right: 25px;
            a {
                font-size: 18px;
                font-weight: 600;
                color: #fff;
                transition: 0.4s;
                &:hover {
                    color: #0ff;
                }
            }
        }
        .menu_list-item_register {
            display: flex;
            align-items: center;
            margin-left: 25px;
            background-color: #0ff;
            padding: 5px 15px;
            border-radius: 6px;
            transition: 0.3s;
            b {
                font-size: 18px;
                font-weight: 600;
                color: #000;
                margin-left: 5px;
            }
            i {
                font-size: 20px;
                font-weight: 600;
                color: #000;
            }
            &:hover {
                box-shadow: 0 0 15px rgba(255, 255, 255, 0.8);
            }
        }
    }
}

.hearder__block {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 120px 100px;
    position: sticky;
    top: 0;
    z-index: 100;
    b {
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 0.1em;
        color: #0ff;
    }
    h2 {
        margin-top: 5px;
        font-weight: bold;
        font-size: 40px;
    }
    p {
        margin-top: 15px;
        font-size: 16px;
        font-weight: normal;
        color: rgba(255, 255, 255, 0.7);
    }
    span {
        margin-top: 20px;
        display: flex;
        align-items: center;
        h5 {
            font-size: 18px;
            color: #f00;
            margin-right: 15px;
        }
        i {
            font-size: 30px;
            border: 1px solid #fff;
            border-radius: 100%;
            padding: 15px;
            cursor: pointer;
        }
    }
}

.register__modal_block {
    width: 35%;
    background-color: #fff;
    position: absolute;
    z-index: 150;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    i {
        color: #333;
        font-size: 35px;
        cursor: pointer;
        position: absolute;
        top: 8px;
        right: 8px;
    }
    img {
        width: 250px;
        height: 250px;
        margin-top: 20px;
    }
    b {
        color: #000;
        font-size: 35px;
        font-weight: 600;
        letter-spacing: 0.1em;
        margin-top: 10px;
    }
    .register_btns {
        width: 100%;
        margin-top: 30px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        button {
            border-radius: 10px;
            background-color: #000;
            border: none;
            color: #fff;
            text-align: center;
            font-size: 18px;
            padding: 16px;
            width: 150px;
            transition: all 0.4s;
            cursor: pointer;
            span {
                cursor: pointer;
                display: inline-block;
                position: relative;
                transition: 0.4s;
                &::after {
                    content: '»';
                    position: absolute;
                    opacity: 0;
                    top: 0;
                    right: -15px;
                    transition: 0.5s;
                }
            }
            &:hover span {
                padding-right: 15px;
            }
            &:hover span:after {
                opacity: 1;
                right: 0;
            }
        }
    }
}

.canvas_block {
    position: absolute;
    top: 0;
    left: 0;
}