@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  color: #fff;
  scrollbar-width: auto;
  scrollbar-color: #000000 #ffffff;
  font-family: 'Montserrat', sans-serif;
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: #000000;
  border-radius: 10px;
  border: 0px solid #000000;
}

body {
  background-color: #000;
  overflow-x: hidden;
}

.navbar__block {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(153, 153, 153, 0.2);
  -webkit-box-shadow: 3px 0 5px rgba(255, 255, 255, 0.062);
          box-shadow: 3px 0 5px rgba(255, 255, 255, 0.062);
  padding: 10px 100px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
}

.navbar__block .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__block .logo img {
  width: 70px;
  height: 50px;
}

.navbar__block .logo h1 {
  font-size: 22px;
  margin-top: 5px;
  color: #fff;
}

.navbar__block .logo h1 .buy {
  color: #f00;
}

.navbar__block .logo h1 .sell {
  color: #0f0;
}

.navbar__block .menu_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar__block .menu_list .menu_list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 25px;
  margin-right: 25px;
}

.navbar__block .menu_list .menu_list-item a {
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.navbar__block .menu_list .menu_list-item a:hover {
  color: #0ff;
}

.navbar__block .menu_list .menu_list-item_register {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 25px;
  background-color: #0ff;
  padding: 5px 15px;
  border-radius: 6px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.navbar__block .menu_list .menu_list-item_register b {
  font-size: 18px;
  font-weight: 600;
  color: #000;
  margin-left: 5px;
}

.navbar__block .menu_list .menu_list-item_register i {
  font-size: 20px;
  font-weight: 600;
  color: #000;
}

.navbar__block .menu_list .menu_list-item_register:hover {
  -webkit-box-shadow: 0 0 15px rgba(255, 255, 255, 0.8);
          box-shadow: 0 0 15px rgba(255, 255, 255, 0.8);
}

.hearder__block {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding: 130px 100px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
}

.hearder__block b {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.1em;
  color: #0ff;
}

.hearder__block h2 {
  margin-top: 5px;
  font-weight: bold;
  font-size: 40px;
}

.hearder__block p {
  margin-top: 15px;
  font-size: 16px;
  font-weight: normal;
  color: rgba(255, 255, 255, 0.7);
}

.hearder__block span {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hearder__block span h5 {
  font-size: 18px;
  color: #f00;
  margin-right: 15px;
}

.hearder__block span i {
  font-size: 30px;
  border: 1px solid #fff;
  border-radius: 100%;
  padding: 15px;
  cursor: pointer;
}

.canvas_block {
  position: absolute;
  top: 0;
  left: 0;
}
/*# sourceMappingURL=style.css.map */